/* 조건 , 지도 영역 */
.conditions_map_area {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 5%;
    position: sticky;
    top: 10px;
}
.map_area {
    padding: 10px 0 10px 10px;
}
.map {
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.map > img {
    height: 100%;
    background-position: left 10px;
}
.map > div {
    position: absolute;
    width: 100%;
    top: 14px;
    left: 0;
    text-align: center;
}
.map > div > img {
    width: 10%;
}
.map > div > p {
    font-size: 1.1rem;
}

div[class $= "condition"] > h3 {
    font-size: 1.05rem;
    margin-bottom: 15px;
    color: #444;
}
div[class $= "condition"] {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 30px 10px;
}

/*별점 조건*/
.grade_condition > p {
    padding: 5px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #48a9ed;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="radio"] + label > span {
    color: rgb(255, 204, 0);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
[type="radio"] + label > span:last-child {
    transform: scale(0.9);
    color: #777;
    margin-left: 5px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.grade_condition input[type="radio"] + label:hover:before{
    border-color: #48a9ed;
}

/*숙소 유형 조건*/
.stay_type_condition > p {
    padding: 6px 0;
}
.stay_type_condition > p > input[type="checkbox"] {
    margin-right: 12px;
    padding: 2px;
}
.stay_type_condition > p > label {
    font-size: 1.05rem;
}
.stay_type_condition > p > label:hover {
    color: #48a9ed;
}
.stay_type_condition > p:hover input{
    color: #48a9ed;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
    outline: 0;
    width: 20px;
}
input[type="checkbox"]:hover {
    border-color: #48a9ed;
}
input[type="checkbox"]::after {
    border: solid #48a8ed;
    border-width: 0 3px 3px 0;
    content: '';
    display: none;
    height: 55%;
    left: 31%;
    position: relative;
    top: 5%;
    transform: rotate(45deg);
    width: 20%;
}
input[type="checkbox"]:checked {
    background: #fff;
    border-color: #48a9ed;
}
input[type="checkbox"]:checked::after {
    display: block;
}

/*숙소명 조건*/
div.stay_name_condition {
    margin-bottom: 50px;
    border-bottom-color: #fff;
}
.stay_name_condition > label {
    position: relative;
}
.stay_name_condition > label > span {
    position: absolute;
    left: 13px;
    top: 6px;
    color: #666;
}
.stay_name_condition input {
    padding: 8px;
    font-size: 1.1rem;
    width: 70%;
    padding-left: 40px;
    border: 1px solid #aaa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.stay_name_condition input:focus {
    outline-color: #48a9ed;
    border-color: #48a9ed;
}

/*검색버튼*/
form[name="frm_stay_condition"] {
    position: relative;
    padding-top: 60px;
}
form > input#btn_conditions_search {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 90%;
    margin: 0 10px;
    padding: 7px;
    font-size: 1.1rem;
    border: 2px solid #48a9ed;
    outline: none;
    background-color: #48a8ed16;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
form > input#btn_conditions_search:hover {
    color: #f0f0f0;
    background-color: #48a8ed;
}

/*지도 모달*/
.map_modal_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
 }

 .map_modal_wrap .map_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
 }

 .map_content {
    text-align: right;
    position: absolute;
	border: 1px solid #fff;
    width: 80%;
    height: 80%;
}
 .map_content > #map_main {
 	position: relative;
 	top: -23px;
 	height: 100%; 
 	width: 100%;
 }
.map_content > .btn_map_close {
    position: relative;
    top: -50px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.map_content > .btn_map_close > i {
    background-color: none;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    color: #fff;
}
.hidden {
    display: none;
}
#map_main .wrap {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}
#map_main .wrap .title {
    position: relative;
    text-align: left;
    padding: 10px 3px;
    border-bottom: 1px solid #999;
    color: #3054cc;
    font-weight: 600;
}
#map_main .wrap .title .close {
    position: absolute;
    top: 2px;
    right: 8px;
    padding: 5px 9px;
    border: 1px solid #48a9ed90;
    background-color: #48a9ed20;
    color: #666;
    border-radius: 3px;
}
#map_main .wrap .ellipsis {
    padding: 10px 3px;
    min-width: 200px;
}

/* 숙소 목록 영역 */
/* 숙소 목록 영역 */
#contents_area {
    position: relative;
}

.stay_list_area {
    vertical-align: top;
    width: 68%;
    display: inline-block;
    padding-top: 70px;
}

.stay_content {
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.stay_image {
    display: inline-block;
    width: 63%;
    height: 260px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
.stay_image > img{
    width: 110%;
    height: 110%;
}
.stay_info {
    display: inline-block;
    width: 36%;
    height: 248px;
    padding-left: 2%;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
}
.stay_info_l {
    position: relative;
    height: 100%;
}
.stay_info_l > h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.stay_info_l > p:nth-child(2) {
    display: inline-block;
    width: 95%;
    color:#333;
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 1rem;
    height: 80px;
}
.stay_info_l > p:nth-child(3) {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.view_star{
    position: relative;
    overflow: hidden;
}
.view_star > .back_star_wrap {
    color: #ccc;
    margin-right: 10px;
}
.view_star > .front_star_wrap {
    position: absolute;
    color: rgb(255, 204, 0);
    overflow: hidden;
    white-space: nowrap;
}
.stay_info_l > p:nth-child(4) {
    font-size: 1.1rem;
    text-align: right;
    padding-right: 20px;
}
/*.stay_info_l > p:last-child > span:first-child{
    color: rgb(255, 204, 0);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}*/
