@charset "utf-8";
/* 책 정보창을 위한 css */

/* 책 내용 영역 시작 */
    /* 책 정보영역 시작 */

body {
    box-sizing: border-box;
}
header{
    /* sticky 였던 header 고정*/
    position: relative;
    top: 0px;

}

#wrapper {
    position: relative;
}

#bookInfo{
    width: 930px;
    height: 430px;
    margin: 0 auto;

    display: flex;
    


}
#bookInfo .bookCover {
    flex: 1 1 0;
    text-align: center;

    

}
#bookInfo .bookImg {
    width: 250px;
    height: 375px;
    margin: 30px 0 0 40px;
    overflow: hidden;
    box-shadow: 10px 10px 5px #ccc,-3px -3px 5px #ccc;
    border: 1px solid #ccc;

    cursor: pointer;

    
}


#bookInfo .bookCover img{
    width: 250px;
    height: 375px;

    display: inline-block;

    background: linear-gradient(to right,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.2)20%);
}
#bookInfo .prevCover {
    width: 250px;
    height: 375px;
    background-color: rgba(0,0,0,0.4);
    display: inline-block;
    position: relative;
    top: 5px;
    transition: all 0.2s;
    z-index: 10;


}
#bookInfo .prevCover span{
    display: inline-block;
    padding: 10px;
    margin-top: 150px;

    border: 1px solid #9d9d9d;
    border-radius: 10px;

    background-color: rgba(121, 180, 183, 0.4);
    color: #fefbf3;
    text-shadow: 1px 1px 5px #9d9d9d;
    font-size: 1.5em;
}
#bookInfo .bookImg:hover .prevCover{
    transform: translateY(-383px);
    transition: all 0.2s;
}

/* #bookInfo .bookCover .prvBtn {
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #79b4b7;
    box-shadow: 1px 1px 5px #ccc;
    text-align: center;

    margin-top: 20px;
    line-height: 30px;
} */



#bookInfo .bookExp {
    flex: 1.5 1.5 0;

    padding: 30px;

    position: relative;
}
#bookInfo .bookExp .title {
    font-family: "OneMobBold";
    font-size: 1.8em;

    text-shadow: 1px 1px 5px #ccc;
}

#bookInfo .bookExp .category {
    font-size: 0.9em;
    margin-top: 5px;
}

#bookInfo .bookExp .title::after{
    content: "";
    height: 3px;
    width: 90%;
    border-radius: 25%;
    position: absolute;

    top: 95px;
    left: 15px;

    background-color: #ccc;
}
#bookInfo .bookExp .writer {
    margin-top: 25px;
    margin-bottom: 5px;
}
#bookInfo .bookExp .writer::after{
    content: "";
    height: 3px;
    width: 75%;
    border-radius: 25%;
    position: absolute;

    top: 170px;
    left: 15px;

    background-color: rgba(204,204,204,0.5);
}

#bookInfo .bookExp .writer ,#bookInfo .bookExp .publisher {
    font-size: 1em;
    font-weight: bold;
    color: #5d5d5d;

} 

/* 결제혜택 영역 시작 */
#bookInfo .bookExp .event {
    margin-top: 30px;
    position: relative;
}
#bookInfo .bookExp .event h3{
    display: inline-block;
    color: #5d5d5d;
    font-size: 1em;
}

/* 드롭다운 버튼 */
#bookInfo .bookExp .event span {
    display: inline-block;
    width: 20px;
    height: 20px;

    margin-left: 10px;
    background-color: #9d9d9d;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
#bookInfo .bookExp .event ul{
    display: inline-block;
    position: absolute;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 10px;
    left: 75px;
    top: 30px;

    background-color: #f8f5ee;

    display: none;

    z-index: 20;

    opacity: 0.9;
}
#bookInfo .bookExp .event ul li {
    height: 60px;
    position: relative;
}
#bookInfo .bookExp .event ul li:nth-child(2){
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#bookInfo .bookExp .event ul img {
    width: 50px;
    padding: 20px 5px 5px 10px;
}
#bookInfo .bookExp .event ul p {
    display: inline-block;
    width: 150px;
    position: absolute;
    right: -5px;
    top: 13px;
    font-size: 0.8em;
}

#bookInfo .bookExp .event::after{
    content: "";
    height: 3px;
    width: 85%;
    border-radius: 25%;
    position: absolute;

    top: 35px;
    left: -15px;

    background-color: rgba(204,204,204,0.5);
}
/* 결제혜택 영역 종료 */

/* 구매수량 영역 시작*/
#bookInfo .bookExp form{
    margin-top: 50px;
}

#bookInfo .bookExp form label{
    margin-right: 5px;
    font-weight: bold;
    color: #666;
}
#bookInfo .bookExp form #bookCount {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
}
/* 구매수량 영역 종료*/



    /* 책 정보영역 종료 */

    /* 가격표 영역 시작 */
#bookInfo table{
    width: 450px;
    height: 100px;

    margin-top: 20px;
    background-color: rgba(248, 240, 223, 0.7);
    
    text-align: center;

    box-shadow: 1px 1px 5px #ccc;
}
#bookInfo table th {
    font-size: 1.1em;
    font-family: OneMobBold;
    font-weight: 900;

    background-color: rgba(121, 180, 183, 0.8);

    border-radius: 10px 0 0 10px;
    width: 150px;
}

#bookInfo table tr td {
    font-size: 0.8em;
    font-weight: bold;
    font-family: OneMob;
}

#bookInfo table tr:nth-child(2) > td{
    border-top: 1px solid #ccc;
}

#bookInfo table .oriPrice{
    text-decoration: line-through;
}
    /* 가격표 영역 종료 */



/* 책 내용 영역 종료 */

/* 구매바 영역 시작 */
#upperBar {
    height: 75px;
    width: 100%;
    background-color: bl;
    margin: 0 auto;

    position: sticky;
    top: 0px;
    background-color: #f8f0df;
    border-top: 1px solid #9d9d9d;
}
#upperBar .barArea{
    margin: 0 auto;
    width: 930px;
    height: 100%;
    position: relative;
    background-color: #f8f0df;

}
#upperBar .barArea h3 {
    font-size: 1.8em;

    text-shadow: 1px 1px 5px #ccc;
    padding: 10px 0px 5px 20px;


}
#upperBar .barArea .category {
    margin-left: 10px;
    font-size: 0.9em;
}
.btnArea {
    width: 450px;
    text-align: right;
    position: absolute;
    right: 30px;
    top: 15px;

}
.btnArea button {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: #79b4b7;
    box-shadow: 3px 3px 5px #ccc;
    
    font-family: OneMobBold;
    color: #3d3d3d;
    margin-left: 10px;
}
.btnArea button:hover{
    background-color: #9d9d9d;
    box-shadow: none;
}
/* 구매바 영역 종료 */

/* 책 소개 영역 시작*/
#bookAnno {
    width: 930px;
    margin: 0 auto;

    text-align: center;
}
#bookAnno h2, #bookAnno p {
    padding: 20px 35px 0 35px;
    text-align: justify;

    text-shadow: 1px 1px 5px #ccc;
}
#bookAnno h2{
    padding:50px 0 0 20px;
}
#bookAnno >p{
    line-height: 1.5em;
    
}
#bookAnno img{
    width: 80%;
    margin-top: 80px;
}

/* 책 소개 영역 종료*/

/* 책 품목정보 영역 시작 */
#bookItem {
    padding-top: 50px;
    width: 930px;
    margin: 0 auto;
    text-align: center;


}
#bookItem h2{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    border-top: 1px solid #ccc;
}
#bookItem table {
    display: inline-block;
    margin: 30px 0;

    box-shadow: 3px 3px 5px #ccc;
    border-radius: 10px;
}
#bookItem table th {
    background-color: #79b4b7;
    padding: 5px 30px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}
#bookItem table td{
    background-color: #f8f0df;
    padding: 5px 90px;

    border-top: 1px solid #fff;
}

#bookItem table tr:first-child :nth-child(2){
    border: none;
    border-radius: 0 10px 0 0;
}
#bookItem table tr:first-child :first-child{
    border-top: none;
    border-radius: 10px 0 0 0;
}
#bookItem table tr:last-child :nth-child(2){
    border-radius: 0 0 10px 0;
}
#bookItem table tr:last-child :first-child{
    border-radius: 0 0 0 10px;
}
/* 책 품목정보 영역 종료 */